/*Importando as fontes direto da pasta*/
@font-face {
    font-family: "Concert One";
    src: local(Concert One), url(../public/fonts/Concert_One/ConcertOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto";
    src: local(Roboto), url(../public/fonts/Concert_One/ConcertOne-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
  }
/*Resete*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header*/
.header-box{
    display: flex;
    font-size: 24px;
    width: 88%;
    padding: 10px;
    margin-left: 2%;
}
.logo-header{
    font-family: "Concert One";
}
.btn-login{
    font-family:"Roboto";
    background-color: #161616;
    color: white;
    font-size: 22px;
    border-radius: 4px;
    margin-left: auto;
    padding:5px;
    width: 25% ; 
}
.nav-box{
    text-align: center;
}
.btn-home{
    font-family:"Roboto";
    font-size: 20px;
}
/*Footer*/   
footer{
    display: flex;
    background-color: #161616;
    padding: 40px;
}

.footer-logo{
    font-family: "Concert One";
    font-size: 22px;
    color: white;
    margin-right: auto;
}
ul{
    list-style-type: none;
    display: flex;
    margin-left: auto;
    ,a
}
.icons{
    list-style-type: none;
    width:  22px;
    margin: 0 10px;
}
.copy{
    color: white;
    font-size: 24px;
    margin-left: auto;
}